/paroli-services/wifi/wifi.pyo
/paroli-services/hardware/*.pyo
/paroli-services/prefs/prefs.pyo
/paroli-services/dialog/dialog.pyo
/paroli-services/system/*.pyo
/paroli-services/phone/*.pyo
/paroli-services/gprs/gprs.pyo
/paroli-core/tichy/*.pyo
/paroli-core/tichy/gui_paroli/*.pyo
/paroli-applications/people2/people2.pyo
/paroli-applications/paroli-launcher2/paroli-launcher2.pyo
/paroli-applications/i-o2/i-o2.pyo
/paroli-applications/msgs2/msgs2.pyo
/paroli-applications/tele2/tele2.pyo
/paroli-applications/settings/settings.pyo

/paroli-applications/people2/people.edj
/paroli-applications/paroli-launcher2/paroli-launcher.edj
/paroli-applications/i-o2/i-o.edj
/paroli-applications/msgs2/msgs.edj
/paroli-applications/tele2/tele.edj
/paroli-applications/settings/settings.edj
