[Desktop Entry]
Name=People
Name[fr]=Calculatrice
Name[it]=Calcolatrice
Name[ru]=Калькулятор
Name[sv]=Miniräknare
Encoding=UTF-8
Version=1.0
Comment=Paroli Dialer
StartupNotify=false
Exec=dbus-send --system --print-reply --dest=org.tichy.launcher /Launcher org.tichy.Launcher.Launch string:Paroli-Contacts
Icon=openmoko-calculator
Terminal=true
Type=Application
SingleInstance=true
Categories=GTK;Application;Office;