[Desktop Entry]
Name=Paroli
TryExec=paroli --launch Launcher
Icon=paroli
GenericName=paroli
Comment=Paroli
StartupNotify=false
Exec=paroli --launch Launcher
Terminal=false
Type=Application
Categories=Office;
