[Desktop Entry]
Name=Paroli
TryExec=paroli
Icon=paroli
GenericName=paroli
Comment=Paroli
StartupNotify=false
Exec=paroli
Terminal=false
Type=Application
Categories=Office;
