[Desktop Entry]
Name=TLauncher
TryExec=tichy-launcher
Icon=tichy
GenericName=tichy --fullscreen
Comment=Tichy Launcher
StartupNotify=false
Exec=tichy-launcher
Terminal=false
Type=Application
Categories=Office;
